
///// testDrive Variables and Theming.

/// Typography
$font-head-b:			"HyundaiSansHead-Bold";
$font-head-r:			"HyundaiSansHead-Regular";
$font-head-m:			"HyundaiSansHead-Medium";
$font-head-l:			"HyundaiSansHead-Light";
$font-text-r:			"HyundaiSansText-Regular";
$font-text-m:			"HyundaiSansText-Medium";
$font-text-b:			"HyundaiSansText-Bold";

$font-family-base:				$font-text-r, sans-serif;
$font-heading:      $font-head-m, sans-serif;
$font-menu-text:			$font-head-r, sans-serif;

// font-size
$font-size-xxl : 	2.6rem; //26px
$font-size-xl : 	2.4rem; //24px
$font-size-lg : 	2.0rem; //20px
$font-size-md : 	1.8rem; //18px
$font-size-sm : 	1.6rem; //16px
$font-size-xs : 	1.4rem; //14px
$font-size-xxs : 	1.2rem; //12px

$font-size-base:             $font-size-xs !default; // 1.4rem == 14px

/// Hyundai Color Variables
//
$colors: (
  hd-blue:    	 #002c5f,
  hd-sand:  	 #e4dcd3,
  hd-lightsand:	 #f6f3f2,
  hd-gold:       #a36b4f,
  hd-activeblue: #00aad2,
  hd-skyblue:    #aacae6,
  hd-activered:  #e63312
);

//
$color-hd-blue:    		#002c5f;
$color-hd-sand:  	 	#e4dcd3;
$color-hd-lightsand:	#f6f3f2;
$color-hd-gold:       	#a36b4f;
$color-hd-activeblue: 	#00aad2;
$color-hd-skyblue:    	#aacae6;
$color-hd-activered:  	#e63312;

$color-icon:            #221814;
$color-icon-text:       #221814;
$color-grey-dark:		#444;
$color-grey-basic:		#7F7F7F;
$color-border-basic:	#DEDEDE;

//vhc-status-color
$vhc-status-red:		#DE5E46;
$vhc-status-orange:		#E09B1A;
$vhc-status-green:		#39B284;

/* basic frame */
// top status bar
$topbar-height :         	55px;
$bottombar-height :         55px;
$topbar-color :          	#fff;
$bottombar-color :          $color-hd-sand;

// navigation Bar
$navbar-color :          	$color-hd-lightsand;

/* Components */
$rect-size-xxl : 			72px;
$rect-size-xl : 			60px;
$rect-size-lg : 			48px;
$rect-size-md : 			36px;
$rect-size-sm : 			24px;
$rect-size-xs : 			16px;

/* pixel size set */
$xxl :     				40px;
$xl :     				30px;
$lg :     				20px;
$md :    				16px;
$bs :    				15px;
$sm :     				10px;
$xs :     				8px;
$xxs :     				6px;

/* Leaving space for spacing of elements -Used for margin or padding */
$leave-space-large : 	$lg;
$leave-space-middle : 	$md;
$leave-space-small : 	$xs;

// padding set -modify anything custom here
$content-padding:            16px !default;
$content-margin:             16px !default;
$content-padding-s:          15px !default;
$content-margin-s:           15px !default;


// border-radius
$border-radius-default:	4px;
